<?php if (Tools_Security_Acl::isAllowed(Tools_Security_Acl::RESOURCE_PLUGINS)): ?>
    <div class="sheets-select">
        <form class="sheetList" action="" method="POST" name="sheetSelect">
            <?php echo $this->form->getelement('sheetKey'); ?>
            <?php echo $this->form->getElement('selectSheets')->renderViewHelper(); ?>
        </form>
    </div>
<?php endif; ?>
<?php if (isset($this->sheets)): ?>
    <div id="map"></div>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var URL = "<?php echo $this->sheets['sheet_key'] ?>";
            Tabletop.init({ key: URL, callback: showInfo, simpleSheet: true });
        });
        function showInfo(data) {
            var mapParameter = $('#map');
            mapParameter.width(<?php echo $this->mapWidth?>);
            mapParameter.height(<?php echo $this->mapHeight?>);
            var optionsJSON = ["city", "sitename", "lat", "long", "towerheightm"];
            var template = "<ul><li><a href='{{photo-url}}' target='_blank'>"
                + "<img src='{{photo-url}}'></a></li>"
                + "<li>City:<h4>{{city}}</h4></li>"
                + "<li>Site:<h4>{{sitename}}</h4></li>"
                + "<li>Lat:<h4>{{lat}}</h4></li>"
                + "<li>Long:<h4>{{long}}</h4></li>"
                + "<li>Tower height(m):<h4>{{towerheightm}}</h4></li>"
                + "</ul>"
            var geoJSON = Sheetsee.createGeoJSON(data, optionsJSON);
            var map = Sheetsee.loadMap("map");
            Sheetsee.addTileLayer(map, 'examples.map-20v6611k');
            Sheetsee.addMarkerLayer(geoJSON, map, template);
        }
    </script>
<?php endif; ?>

<script type="text/javascript">
    $('#selectSheets').click(function () {
        var url = '<?php echo $this->websiteUrl; ?>plugin/googlesheets/run/savesheets/containerName?containerName=<?php echo $this->containerName; ?>/<?php echo $this->pageId; ?>';

        $.ajax({
            type: "POST",
            url: url,
            data: $("form[name=sheetSelect]").serialize(),
            success: function (data) {
                if (data.error == '0') {
                    smoke.alert(data.responseText);
                    location.reload();

                } else {
                    smoke.alert(data.responseText);
                }
            }
        });

        return false;
    });
</script>
<?php $this->headLink()->appendStylesheet(
    'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic|Source+Code+Pro:400'
); ?>
<?php $this->headScript()->appendFile($this->websiteUrl . 'plugins/googlesheets/web/js/sheetsee.js'); ?>
<?php $this->headLink()->appendStylesheet('http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css'); ?>
<?php $this->headLink()->appendStylesheet($this->websiteUrl . 'plugins/googlesheets/web/css/main_sheet.css'); ?>
<?php $this->headScript()->appendFile($this->websiteUrl . 'plugins/googlesheets/web/js/tabletop1.3.4.js'); ?>

