<?php if (Tools_Security_Acl::isAllowed(Tools_Security_Acl::RESOURCE_PLUGINS)): ?>
    <div class="sheets-select">
        <form class="sheetList" action="" method="POST" name="sheetSelect">
            <?php echo $this->form->getelement('sheetKey'); ?>
            <?php echo $this->form->getElement('selectSheets')->renderViewHelper(); ?>
        </form>
    </div>
<?php endif; ?>
<?php if (isset($this->table)): ?>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var URL = "<?php echo $this->table['sheet_key'] ?>";
            Tabletop.init({ key: URL, callback: showInfo, simpleSheet: true })
        });

        function showInfo(data) {
            var headers = JSON.stringify(data[0]);
            console.log(headers);

            var aaa = JSON.stringify(data);
            var row1 = '<th>';
            $.each(JSON.parse(headers), function (idx, obj) {
                row1 = row1 + "<th>" + obj + "</th>";
                //$('#tess').append("<th>" + idx + "</th>");
            });
            row1 = row1 + '</th>';
            $('#tess').append(row1);

            var _len = data.length;
            for (var i = 0; i < _len; i++) {
                var row = '<tr>';
                var fghghj = JSON.stringify(data[i]);
                console.log(fghghj);
                $.each(JSON.parse(fghghj), function (idx, obj) {
                    row = row + "<td>" + obj + "</td>";
                });
                row = row + '</tr>';
                $('#tbody').append(row);
            }

            var tableOptions = {"data": data, "pagination": 10, "tableDiv": "#fullTable", "filterDiv": "#fullTableFilter"};
            Sheetsee.makeTable(tableOptions);
            Sheetsee.initiateTableFilter(tableOptions);
        }
    </script>
    <input id="fullTableFilter" type="text" placeholder="filter by.."/>
    <div id="fullTable"></div>
    <div id="fullTable_template">
        <table class="g2toaster" data-width="400">
            <thead>
            <tr id="tess">
            </tr>
            </thead>
            <tbody>
            <tr id="tbody">
            </tr>
            </tbody>
        </table>
    </div>

    <?php $this->headScript()->appendFile($this->websiteUrl . 'plugins/googlesheets/web/js/tabletop1.3.4.js'); ?>
    <?php $this->headLink()->appendStylesheet($this->websiteUrl . 'plugins/googlesheets/web/css/style.css'); ?>
    <?php $this->headScript()->appendFile($this->websiteUrl . 'plugins/googlesheets/web/js/sheetsee.js'); ?>
<?php endif; ?>

<script type="text/javascript">
    $('#selectSheets').click(function () {
        var url = '<?php echo $this->websiteUrl; ?>plugin/googlesheets/run/savesheets/containerName?containerName=<?php echo $this->containerName; ?>/<?php echo $this->pageId; ?>';
        $.ajax({
            type: "POST",
            url: url,
            data: $("form[name=sheetSelect]").serialize(),
            success: function (data) {
                if (data.error == '0') {
                    smoke.alert(data.responseText);
                    location.reload();

                } else {
                    smoke.alert(data.responseText);
                }
            }
        });

        return false;
    });
</script>
<?php $this->headLink()->appendStylesheet(
    'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic|Source+Code+Pro:400'
); ?>


