<?php if (!empty($this->sheets)): ?>
    <?php foreach ($this->sheets as $sheet): ?>
        <div class="redirect-row list-row">
            <div class="grid_1 ml0 mr0 text-center"><input type="checkbox" id="<?php echo $sheet->getId(); ?>"
                                                           name="massdell[<?php echo $sheet->getId(); ?>]"
                                                           class="redirect-massdel"/></div>
            <div class="list-row-item grid_2 alpha omega ml-grid mr-grid"
                 title="<?php echo $sheet->getName(); ?>"><?php echo $sheet->getName(); ?></div>
            <div class="list-row-item grid_2 alpha omega ml-grid"
                 title="<?php echo $sheet->getSpecies(); ?>"><?php echo $sheet->getSpecies(); ?></div>
            <div class="list-row-item grid_5 alpha omega ml-grid"
                 title="<?php echo $sheet->getSheetKey(); ?>"><?php echo $sheet->getSheetKey(); ?></div>

            <div class="grid_1 omega ml5 text-center">
                <a class="remove-redirect _tdelete ticon-remove error icon16" data-callback="reloadSheetsList"
                   data-url="../../../googlesheets/run/removeSheets/" data-eid="<?php echo $sheet->getId(); ?>"
                   href="javascript:;"></a>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
