<div class="seotoaster container">
    <?php echo $this->partial('admin' . DIRECTORY_SEPARATOR . '_header.phtml', array('headerText' => 'Add Sheets', 'helpSection' => $this->helpSection)); ?>
    <div class="content-footer">
        <form id="frm-sheets" class="_fajax grid_12 mb15px form-inline" action="<?php echo $this->url(); ?>" method="post" data-callback="reloadSheetsList">
            <div class="grid_3 alpha">
                <?php echo $this->form->getElement('sheetsName'); ?>
            </div>
            <div class="grid_4 alpha">
                <?php echo $this->form->getElement('sheetsKey'); ?>
            </div>
            <div class="grid_3 alpha">
                <?php echo $this->form->getElement('sheetKind'); ?>
            </div>
            <?php echo $this->form->getElement('addSheets')->renderViewHelper(); ?>
        </form>

        <div id="sheets-title" class="grid_12 list-title">
            <div class="grid_1 mr0 ml0 text-center"> <input type="checkbox" id="massdell-main" /></div>
            <div class="grid_2 alpha omega ml-grid mr-grid"><?php echo $this->translate('Sheet Name'); ?></div>
            <div class="grid_3 mr0"><?php echo $this->translate('Sheet Species'); ?></div>
            <div class="grid_6 alpha"><?php echo $this->translate('Sheet Key'); ?></div>
        </div>
        <div id="sheets-list" class="grid_12 items-list"></div>
    </div>
    <div class="grid_12 footer">
        <a href="javascript:;" id="massdel-run" class="delete-selected btn link error">[ <?php echo $this->translate('Delete selected'); ?> ]</a>
        <?php echo $this->partial('admin' . DIRECTORY_SEPARATOR . '_saveandclose.phtml'); ?>
        </div>
    </div>
<?php $this->jQuery()->addJavascriptFile($this->websiteUrl . 'plugins/googlesheets/web/js/sheet.min.js'); ?>